.auth form {
	text-align: right;
	width: 400px;
}

.form-element {
	display: flex;
	margin-bottom: 10px;
	width: 100%;
}

.form-element span {
	padding: 10px;
	min-width: 76px;
}

.form-element input {
	border: 1px solid #cccccc;
	border-radius: 3px;
	box-shadow: 0px 0px 10px 1px rgba(204, 204, 204, 0.75);
	font-size: 15px;
	padding: 10px;
	width: 100%;
}

.form-element ~ input[type="submit"] {
	padding: 10px 15px;
}
